{% extends 'front-office/index-front.html.twig' %}
{% block menu %}

    <!-- ======= Cta Section ======= -->
    <section>
        <div class="container">
        <div class="section-title">
            <h2>Our top sponsors</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

            <article class="wrapper">
                <div class="marquee">
                    <div class="marquee__group">
                        {% for i in topsponors %}
                            <img src="{{asset('uploads/'~ i.logo)}}" alt=""/>
                        {% endfor %}
                    </div>
                </div>
            </article>
        </div>
    </section><!-- End Cta Section -->







    <!-- ======= About Us Section ======= -->
    <section>
        <div class="container">

            <div class="section-title">
                <h2>Our events</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">
                {% for i in evenements %}
                <div class="card2">
                    <ul>
                        <li>
                            <a href="{{path('app_donation',{'id':i.id}) }}" ><i class="fa-solid fa-money-bill"></i></a>
                        </li>
                        <li>
                            <a href="{{path('app_qr_test',{'id':i.id}) }}" ><i class="fa-solid fa-qrcode"></i></a>
                        </li>
                        <li>
                            <a href="{{path('app_eveFront_detail',{'id':i.id}) }}" ><i class="fa-solid fa-file-pdf"></i></a>
                        </li>
                    </ul>
                    <img src="{{asset('uploads/'~ i.picture)}}" alt=""/>
                    <div class="content">
                        <h2>{{ i.titre }}</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus
                            labore laborum necessitatibus quis, earum, repellat facilis adipisci,
                            dolores corporis ipsam ratione eaque vitae quia sunt nemo et
                            repudiandae porro incidunt.
                            <button>See more...</button>
                        </p>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
        <div class="d-flex justify-content-center mt-6">
            {% do evenements.setPageRange(4) %}
            {{ knp_pagination_render(evenements,'pagination.html.twig') }}
        </div>
    </section>

{% endblock %}