<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        E-Clinique
    </title>
</head>
<body>
<h1>Evenement : {{ i.titre }}</h1>

<span><h3>Description :</h3> {{ i.description }}</span>
<span><h3>Lieu :</h3> {{ i.lieu }}</span>
<span><h3>Organisateur :</h3> {{ i.nomorganisateur }}</span>
<span><h3>E-Mail :</h3> {{ i.emailorganisateur }}</span>
<span><h3>Date début :</h3> {{ i.datedebut }}</span>
<span><h3>Date fin :</h3> {{ i.datefin }}</span>
<span><h3>QR code :</h3>  <img src="{{ qrCode }}" alt="qr-code"></span>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<input type="checkbox">
<hr>
</body>
</html>