{% extends 'back-office/index-back.html.twig' %}
{% block main %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->



        <!-- End Navbar -->
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">

                            <h6>Table des Commande </h6>
                        </div>
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-100">Qte</th>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">statut</th>
                                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder ">date ajout</th>
                                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder ">date cloture</th>
                                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder ">motif cloture </th>
                                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder ">nom articles</th>
                                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder ">prix totale</th>


                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for i in commande   %}
                                        <tr>


                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-s font-weight-bold">{{ i.QteC }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-s font-weight-bold">{{ i.status }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-s font-weight-bold">{{ i.dateajout  }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-s font-weight-bold">{{ i.datecloture }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-s font-weight-bold">{{ i.motifcloture }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-s font-weight-bold">{{ i.Articles.nomarticles }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-s font-weight-bold">{{ i.prixC }}</span>
                                            </td>

                                        </tr>
                                </table>
                                    {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


{% endblock %}