{%extends 'blog/base.html.twig' %}


{% block body %}




<h1> Creation d'un post</h1>

{{ form_start(formPost,{'attr': {'novalidate': 'novalidate'}} ) }}



{{ form_row(formPost.title, {'attr': {'placeholder': "Titre du post "}}) }}

    {{ form_row(formPost.categorie) }}

{{ form_row(formPost.Text, {'attr': {'placeholder': "Contenu du post"}}) }}

{{ form_row(formPost.image,{'attr': {'placeholder': "URL de l'image"}}) }}




    <button type="submit" class="btn btn-success">

    {% if editMode %}
    Enregistrer
    {% else %}
        Ajouter le Post
        {% endif %}
    </button>
{{ form_end(formPost)  }}






{% endblock%}
