{%extends 'blog/base.html.twig' %}

{% block body %}



    <div>

       <center><h2>Congratulations <strong>{{ topfan.autheur }}</strong>
              you are our top fan for this week <html>
               <style>
                   body {
                       font-size: 20px;
                   }
               </style>
               <body>

               <span style='font-size:100px;'>&#127942;</span>

               </body>
               </html></h2></center>


        <center><h2>It's been a while no see <strong>{{ inactive.autheur }}</strong>
                We really miss your comments <style>
                    body {
                        font-size: 20px;
                    }
                </style>
                <body>

                <span style='font-size:100px;'>&#128557;</span></h2></center>




    </div>


    <post>
        <h2>{{ posts.title }}  </h2>
        <div class="metadata">Ecrite le {{ posts.datepost }} dans la catégorie {{ posts.categorie.title}} </div>
        <div class="content">
            <img src="{{ posts.image }}" alt= "">
            <br>
         {{ posts.text }}

        </div>

    </post>
    <section id="commentaires">
        <h1>  {{ posts.Commentaires|length }} Commentaires :</h1>
        {% for commentaire in posts.commentaires %}
        <div class="commentaire">


            <div class="row">
                <div class="col-3">

                    {{ commentaire.autheur }} <br>(<small>
                        {{ commentaire.date }})

                    </small>
                </div>
                <div class="col">
                    {{ commentaire.text |raw }}
                </div>
            </div>
        </div>

        {% endfor %}

        {{ form_start(CommentaireForm) }}



        {{ form_row(CommentaireForm.autheur, {'attr': {'placeholder': "Votre nom"}}) }}

        {{ form_row(CommentaireForm.text,{'attr': {'placeholder': "Votre Commentaire"}}) }}

        <button type="submit" class="btn btn-success"> Leave a comment  </button>
        {{ form_end(CommentaireForm)}}
    </section>



{% endblock %}