<html lang="en">

<head>
 <meta charset="utf-8">
 <meta content="width=device-width, initial-scale=1.0" name="viewport">

 <title>Medicio Bootstrap Template - Index</title>
 <meta content="" name="description">
 <meta content="" name="keywords">

 <!-- Favicons -->
 <link href="{{asset('front-office/assets/img/favicon.png')}}" rel="icon">
 <link href="{{asset('front-office/assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="{{asset('front-office/assets/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
 <link href="{{asset('front-office/assets/vendor/animate.css/animate.min.css')}}" rel="stylesheet">
 <link href="{{asset('front-office/assets/vendor/aos/aos.css')}}" rel="stylesheet">
 <link href="{{asset('front-office/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
 <link href="{{asset('front-office/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
 <link href="{{asset('front-office/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
 <link href="{{asset('front-office/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
 <link href="{{asset('front-office/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
 <!-- Template Main CSS File -->
 <link href="{{asset('front-office/assets/css/style.css')}}" rel="stylesheet">

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
 <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
  <div class="align-items-center d-none d-md-flex">
   <i class="bi bi-clock"></i> Monday - Saturday, 8AM to 10PM
  </div>
  <div class="d-flex align-items-center">
   <i class="bi bi-phone"></i> Call us now +1 5589 55488 55
  </div>
 </div>
</div>

<header id="header" class="fixed-top">
 <div class="container d-flex align-items-center">

  <a href="index.html" class="logo me-auto"><img src="{{asset('front-office/assets/img/logo.png')}}" alt=""></a>
  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

  <nav id="navbar" class="navbar order-last order-lg-0">
   <ul>
    <li><a class="nav-link scrollto" href="{{ path('app_categorie_new') }}">Add Categorie</a></li>
    <li><a class="nav-link scrollto" href="{{ path('app_categorie_index') }}">Categories</a></li>
    <li><a class="nav-link scrollto" href="{{ path('blog') }}">Posts</a></li>
    <li><a class="nav-link scrollto" href="{{ path('blog_create') }}">Creer un post</a></li>
    <li><a class="nav-link scrollto" href="{{ path('app_sendtopfan_mail') }}">Send mail to our top fan <span class="emoji round">🏆</span></a></li>
    <li><a class="nav-link scrollto" href="{{ path('app_prize') }}">play and win 🎮 </a></li>
   </ul>
  </nav><!-- .navbar -->



 </div>
</header>
<br>
<br>
<br>



















 <h1> Creation d'une catégorie</h1>
<br>

{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}


 {{ form_row(form.title, {'attr': {'placeholder': "Titre du catégorie "}}) }}

 {{ form_row(form.text, {'attr': {'placeholder': "Text du catégorie "}}) }}




 <button type="submit" class="btn btn-success">

   Ajouter la Catégorie

 </button>



{{ form_end(form) }}










<main id="main">

 <!-- ======= Featured Services Section ======= -->
 <section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">

   <div class="row">
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
     <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
      <div class="icon"><i class="fas fa-heartbeat"></i></div>
      <h4 class="title"><a href="">Lorem Ipsum</a></h4>
      <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
     </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
     <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
      <div class="icon"><i class="fas fa-pills"></i></div>
      <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
      <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
     </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
     <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
      <div class="icon"><i class="fas fa-thermometer"></i></div>
      <h4 class="title"><a href="">Magni Dolores</a></h4>
      <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
     </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
     <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
      <div class="icon"><i class="fas fa-dna"></i></div>
      <h4 class="title"><a href="">Nemo Enim</a></h4>
      <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
     </div>
    </div>

   </div>

  </div>
 </section><!-- End Featured Services Section -->

 <!-- ======= Cta Section ======= -->
 <section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

   <div class="text-center">
    <h3>In an emergency? Need help now?</h3>
    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <a class="cta-btn scrollto" href="#appointment">Make an Make an Appointment</a>
   </div>

  </div>

 </section><!-- End Cta Section -->

 <!-- ======= About Us Section ======= -->
</main>
</body>

</html>
